# 12 MHz clock
#set_io clk          35

# Onboard LEDs
set_io led_blue     39
set_io led_green    40
set_io led_red      41

# Frequency to be measured
set_io clk_x_in         4

# OLED
set_io oled_vbatn_out   32
set_io oled_vcdn_out  	28
set_io oled_csn_out		43
set_io oled_dc_out		42
set_io oled_clk_out		31
set_io oled_mosi_out	38
set_io oled_rstn_out    36

# additional io / debug
set_io dbg_7        44
set_io dbg_6        45
set_io dbg_5        46
set_io dbg_4        47
set_io dbg_3        48
set_io dbg_2        2
set_io dbg_1        3
set_io dbg_0        27
